@use '../../../styles/settings/colors' as c;
@use '../../../styles/settings/fonts' as f;
@use '../../../styles/settings/variables' as v;

.mobileMenu {
    width: 100vw;
    height: 100vh;
    position: absolute;
    inset: 0;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    gap: 3rem;
    background-color: c.$bg-color-3;
    padding: 0 v.$general-side-padding 3rem v.$general-side-padding;

    &__nav {
        color: c.$font-color-1;
        font-size: f.$menu-open-f-size;
        z-index: 20;
        text-transform: uppercase;
        width: 100%;
        height: fit-content;
    }

    &__available {
        color: c.$font-color-1;
        font-size: f.$p-font-size;
        font-family: PP neue montreal;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        font-size: f.$menu-open-f-size-2;
    }

    &__paris {
        color: c.$font-color-1;
        font-size: f.$p-font-size;
        font-family: PP neue montreal;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        font-size: f.$menu-open-f-size-2;
    }
}

@media screen and (max-width: 900px) {
    .mobileMenu {
        display: flex;
    }
}