@use '../../public/assets/fonts/Neue_Montreal/neue-montreal-stylesheet.css';
@use '../../public/assets/fonts/Migra/migra-stylesheet.css';
@use 'colors';
html,
body {
    padding: 0;
    margin: 0;
    font-family: Migra;
    font-weight: 800;
    background: url('https://cdn.shopify.com/s/files/1/2642/6578/t/28/assets/Header-Migra.jpg?v=51217023710603611861627062584');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}