@use '../../public/assets/fonts/Neue_Montreal/neue-montreal-stylesheet.css';
@use '../../public/assets/fonts/Migra/migra-stylesheet.css';
@use 'colors';

:root {
    font-size: 16px;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Migra;
    font-weight: 800;
    background: url('https://cdn.shopify.com/s/files/1/2642/6578/t/28/assets/Header-Migra.jpg?v=51217023710603611861627062584');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    overscroll-behavior: none;
}

#__Next,
.container,
main {
    width: inherit;
    height: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-family: Migra;
}

p,
a {
    font-family: PP Neue Montreal;
    font-weight: 400;
}