$p-font-size: clamp(.8rem, 1.2vw, 2rem);
$menu-open-f-size: clamp(1.5rem, 5vw, 5rem);
$menu-open-f-size-2: clamp(.8rem, 2vw, 3.5rem);
$big-title: clamp(1rem, 3vw, 4rem);
$counter-font-size: clamp(4rem, 7vw, 10rem)