@use '../../../styles/settings/colors' as c;
@use '../../../styles/settings/fonts' as f;
@use '../../../styles/settings/variables' as v;

.banner {

    width: 100%;
    padding: 0 v.$general-side-padding 0 v.$general-side-padding;

    &__title {

        display: flex;
        flex-direction: column;
        font-size: 8rem;
        color: c.$font-color-1;
        text-align: end;
        text-transform: capitalize;
        font-weight: 300;

        :first-child {
            font-size: 8rem;
        }

        :last-child {
            font-style: italic;
            font-size: 5.5rem;
        }
    }

}